[Unit]
Description=WALL-E service
After=network.target

[Service]
Type=simple
ExecStart=python3.10 /home/jonathan/WALL-E/framework.py
Restart=on-failure

[Install]
WantedBy=multi-user.target